<form action="{{data.action}}" type="POST">
    {{#each data.fields}}
        <div class="form-group">
            <label for="{{id}}">{{placeholder}}</label>
            <input type="{{type}}" class="form-control" id="{{id}}" placeholder="{{placeholder}}">
        </div>
    {{/each}}
    <button type="submit" class="btn btn-block btn-default">Submit</button>
</form>
